.breadcrumb {
  list-style: none;
  width: 70vw;
  min-width: 460px;
  max-width: 1000px;
  margin: 20px auto 0 auto;
  padding: 0;

  @media screen and (max-width: 768px) {
    list-style: none;
    min-width: 160px;
    max-width: 360px;

    padding: 0;
    width: 70%;
  }
}

.breadcrumb-item {
  display: inline-block;
  color: #aaaaaa;
  font-size: 14px;

  &:not(:last-child)::after {
    display: inline-block;
    content: "";
    height: 16px;
    width: 16px;
    background: url(../../assets/cd-custom-separator.svg) no-repeat center
      center;
    vertical-align: middle;
  }
}
